html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (min-width: 576px){
  body {
    background-color: white;
  }
}

@media screen and (min-width: 768px){
  body {
    background-color: rgb(246, 247, 248);
  }  
}

@media screen and (min-width: 992px){
  body {
    background-color: rgb(234, 237, 240);
  }
}